<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta情報 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="stylesheet.css">
    <!-- fontAwesome -->
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- jsファイルの読み込み -->
    <script src="ToDoList.js" defer></script>

    <title>To Do List</title>
</head>
<body style="background: black">

        <!-- メイン -->
        <div class="position-absolute w-100">
            <div class='container mt-5 d-flex flex-column align-items-center' id="app">
                <!-- タイトル -->
                <h1 class="mb-5 text-light d-appear">今日のやること</h1>
        
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="write a task" aria-label="Recipient's username" aria-describedby="button-addon" v-model="taskText" v-on:keydown.enter="makeTask" style="opacity: 0.9;">
                    <button class="btn btn-outline-info" type="button" id="button-addon" v-on:click="makeTask">Create</button>
                </div>
                
                <!-- toDoListカードの表示 -->
                <div v-for="(task, index) in tasks" class="my-1 col-9 d-appear">
                    <div class="card my-1" style="background: rgba(255, 255, 255, 0.8);">
                        <div class="card-body">
                            <h5 class="card-title my-3">TODO {{ index + 1 }} : {{ task.name }} </h5>
                            <p class="my-3"> {{ task.date }} </p>
                            <button href="#" class="btn btn-primary mt-2 w-100" v-on:click="removeTask( index )">complete!!!!!!</button>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        


        <!-- canvas -->
        <canvas id="q" class="w-100"></canvas>
    
</body>
</html>